/.env
/vendor/
/.phpunit.result.cache
/writable/cache/*
!/writable/cache/.gitkeep
/writable/debugbar/*
!/writable/debugbar/.gitkeep
/writable/logs/*
!/writable/logs/.gitkeep
/writable/session/*
!/writable/session/.gitkeep
/writable/uploads/*
!/writable/uploads/.gitkeep
/public/uploads/avatars/*
!/public/uploads/avatars/.gitkeep
